url: "https://nathanalderson.github.io"
baseurl: ""
title: "Nathan Alderson"

plugins:
  - jekyll-postcss

postcss:
  cache: false

exclude:
  - vendor/
  - node_modules/
  - package.json
  - package-lock.json
