---
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://kit.fontawesome.com/581617cb71.js" crossorigin="anonymous"></script>
  </head>

  <body>
    {{ content }}
  </body>

</html>